
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="target-body cta">About</h2>
<p>
    In at ex tempus, tincidunt est nec, faucibus enim. Etiam ac urna nec nisi tempus luctus. Nullam purus lacus, aliquam et consectetur id, gravida id sapien. Nulla diam est, vulputate et lectus vel, viverra ornare sapien. Curabitur porttitor gravida felis rutrum accumsan. Donec dolor metus, facilisis et eros eu, viverra varius lectus. Quisque ac sapien dictum, placerat lacus sed, vehicula velit. Praesent sapien odio, rhoncus id luctus non, gravida sollicitudin diam. Etiam viverra, nisi vel commodo pellentesque, nisl enim accumsan lectus, facilisis interdum dui sem sit amet elit. Nulla euismod nisi vel odio semper, a posuere magna cursus. Integer accumsan eros ut sem sodales tempus. Etiam eu nisl et enim aliquam laoreet in sollicitudin sapien. Quisque ornare lacus quis erat ultricies dapibus. Sed sed tortor urna. Ut feugiat metus erat, ac gravida quam rutrum quis.

    Curabi Proin ut dolor eleifend, posuere lorem in, convallis magna. Nunc vestibulum mi et velit ultrices elementum. Cras ipsum tortor, gravida eu fringilla a, varius nec velit. In scelerisque arcu mauris, eu fringilla elit
</p>

