
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="target-body cta">Contact</h2>
<img src="~/Content/img/color_logo.png" style="width:200px;" />
<br />
<br />
<a href="https:/www.leadsquared.com">Get in touch!</a>

