
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/LSQExpress.css" rel="stylesheet" />
    <title>Invalid</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6" style="height:400px; margin-top:5%">
            <img src="~/Content/img/JudgementalHomer.jpg" />
        </div>
        <div class="cold-md-6 error">
            <h1>Hmmmm</h1>
            <h2>I don't think we have a match for that...</h2>
            <h2>You're just playing around with the URL aren't you.</h2>
        </div>

    </div>
</body>
</html>
