@{ 
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/LSQExpress.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6" style="height:400px; margin-top:5%">
            <img src="~/Content/img/Homer accused.gif" />
        </div>
        <div class="cold-md-6 error">
            <h1>D'oh!</h1>
            <h2>You're not authorized to view this page.</h2>
        </div>

    </div>
</body>
</html>